autostart
Code
configstore
dconf
direnv
enchant
evolution
gcloud
gedit
gnome-control-center
gnome-session
goa-*
google-chrome
gtk-*
hlb
ibus
menus
nautilus
pulse
Station
mimeapps.list
user-dirs.dirs
user-dirs.locale
iterm2
