- name: Install packages via Homebrew and configure environment
  hosts: localhost
  connection: local
  become: false

  vars:
    homebrew_packages:
      - gcc
      - tig
      - tmux
      - direnv
      - jq
      - ghq
      - peco
      - adr-tools
      - pre-commit
      - uv
      - node
      - gh

    homebrew_cask_packages:
      - font-plemol-jp
      - google-chrome
      - slack
      - iterm2
      - dropbox
      - docker
      - visual-studio-code
      - cyberduck
      - 1password
      - alfred
      - tradingview
      - notion
      - chatgpt
      - claude
      - lm-studio

  tasks:
    - name: Install and update Homebrew packages
      block:
        - name: Update Homebrew
          homebrew:
            update_homebrew: true

        - name: Install standard Homebrew packages
          homebrew:
            name: "{{ item }}"
            state: present
          loop: "{{ homebrew_packages }}"

        - name: Install Homebrew cask packages
          homebrew_cask:
            name: "{{ item }}"
            state: present
          environment:
            HOMEBREW_CASK_OPTS: "--appdir=/Applications"
          loop: "{{ homebrew_cask_packages }}"
      tags: ['brew']
